<div class="container"><!--
    llamar al endpoint
    pantalla de carga
    ngif si se pudo o no se pudo
    !!!Que se muestre el mensaje 'confirmando email' mientras carga, cambia en caso de acierto o fallo.
    ng correcto{
        texto
        boton de cerrar ventana (lleva al inicio)
    } else{
        el mail no pudo ser validado o vencio el link
        boton de reenviar mail
    }-->
    <div class="message-container">
        <div class="message">
            {{message}}
        </div>

        <div class="button-container">
            <button (click)="goHome()">Volver al inicio</button>
        </div>
    </div>
</div>