/* Contenedor principal de la página de catálogo */
.catalog-container {
    margin-top: 5rem;
    display: flex;
    flex-direction: column; /* Para que options esté arriba */
}

/* Estilos generales para el contenedor de opciones */
.options-container {
    display: flex; /* Utiliza flexbox */
    justify-content: center; /* Centra los elementos horizontalmente */
    align-items: center; /* Alinea los elementos verticalmente */
    padding: 4rem 10px 0 10px; /* Espacio interno */
    gap: 50px;
}

/* Estilos para el botón de filtro */
.filter-btn {
    padding: 8px;
    border-radius: 5px;
    background-color: #333;
    color: white;
    font-weight: 600;
    cursor: pointer;
    border: transparent;
    margin-right: 10px; /* Ajusta el espacio entre el botón y el selector */
}

/* Estilos para el dropdown */
.filter-dropdown {
    display: none;
    position: absolute;
    background-color: white;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    padding: 10px;
    border-radius: 5px;
    z-index: 1000;
    margin-top: 10px;
}

/* Mostrar el dropdown cuando esté activo */
.filter-dropdown.active {
    display: block;
}

/* Estilos generales para el dropdown y los elementos del formulario */
.category-container, .form-group {
    margin-bottom: 10px;
}

/* Estilos para el selector de orden */
.order-box {
    padding: 8px 16px;
    border-radius: 6px;
    font-weight: 500;
    transition: border 0.5s ease-in;
}

.order-box:hover {
    border: black 2px solid;
}

/* Contenedor para las opciones de filtrado y productos */
.catalog-content {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    
}
/* Contenedor de productos */
.product-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 1.6rem;
}

/* Estilos generales para los productos */
.product-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 235px; /* Ancho de la tarjeta */
    height: 340px;
    padding: 10px;
    border-radius: 8px; /* Bordes redondeados */
    background-color: #f9f9f9;
    margin: 0px 10px 10px 10px; /* Margen alrededor de la tarjeta */
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); /* Sombra ligera */
    transition: all 0.5s ease-in;
}
.product-card:hover{
    cursor: pointer;
    background-color: rgb(233, 233, 233);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.8); /* Sombra ligera */
}

/* Estilo del contenedor de la imagen */
.img-container {
    width: 100%; /* Ancho completo del contenedor */
    height: 340px; /* Altura del contenedor */
    overflow: hidden; /* Oculta cualquier contenido desbordado */
    position: relative;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5); /* Sombra ligera */
}

/* Estilo de la etiqueta de descuento */
.discount-tag {
    position: absolute;
    top: 5px; /* Poner en la parte superior */
    right: 5px; /* Poner en la esquina superior derecha */
    background-color: rgb(51, 51, 51); /* Color de fondo de la etiqueta */
    color: white; /* Color del texto */
    padding: 4px; /* Espacio interno */
    width: 43px; /* Ancho de la etiqueta */
    height: 43px; /* Altura de la etiqueta, igual al ancho */
    border-radius: 50%; /* Convierte el contorno en un círculo */
    font-size: 0.8rem; /* Tamaño de fuente */
    font-weight: 600; /* Peso de la fuente */
    display: flex;
    align-items: center;
}


/* Estilo de la imagen */
.img-container img {
    width: 100%; /* Ancho completo de la imagen */
    height: 100%; /* Altura automática para mantener la proporción */
    object-fit: cover; /* Ajusta la imagen para que se ajuste dentro del contenedor */
}

.name-container {
    margin-top: 8px; /* Espacio superior */
    text-align: center; /* Centra el texto */
    width: 100%;
    height: 1.8rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
   
}

/* Estilo del nombre del producto */
.name-container span {
    font-size: 1rem; /* Tamaño de fuente del nombre */
    font-weight: 400; /* Peso de la fuente */
    color: #333; /* Color del texto */
}

/* Estilo del contenedor del precio */
.price-container {
    margin: 8px 0; /* Espacio superior e inferior */
}

/* Estilo del precio */
.price-container span {
    font-size: 1.1rem; /* Tamaño de fuente del precio */
    font-weight: 800; /* Peso de la fuente */
    color: #333; /* Color del precio */
}
.original-price {
    font-size: 1rem; /* Tamaño de fuente */
    color: #999; /* Color más tenue */
    text-decoration: line-through; /* Tachado */
    margin-right: 5px; /* Espacio entre precios */
}
.button-container button{
    padding: 5px 8px;
    border-radius: 4px;
    border: transparent;
    text-transform: uppercase;
    color: #eee;
    background-color: #333;
    transition: background-color 0.4s ease-in;
}
.button-container button:hover{
    cursor: pointer;
    background-color: #474747;
    transition: background-color 0.4s ease-in;
}

@media screen and (max-width: 1200px) {
    .product-container {
        grid-template-columns: repeat(3, 1fr); /* 3 productos por fila */
    }
}

/* Media query para pantallas con ancho máximo de 768px */
@media screen and (max-width: 500px) {
    .product-container {
        grid-template-columns: repeat(1, 1fr); /* 1 producto por fila */
    }

}