<header class="header">
    <nav class="nav-container">
        <div class="nav-data">
            <div class="nav-toggle" id="nav-toggle">
                <i class="fa-solid fa-bars" (click)="toggleMenu()"></i>
            </div>
            <div class="logo-container">
                <i class='bx bx-rocket'></i>
            </div>
        </div>
        <div class="nav-menu" id="nav-menu">
            <ul class="nav-list">
                <li><a href="/catalog" class="nav-link">Inicio</a></li>

                <li class="dropdown-item" (mouseenter)="menuValue=true" (mouseleave)="menuValue=false">
                    <a class="nav-link">Productos <i class="fa-solid fa-caret-down" id="arrow"></i></a>

                    <ul class="dropdown-menu">
                        <li class="dropdown-subitem">
                            <a href="/catalog" class="dropdown-link">Ver todos los productos</a>
                        </li>
                        <li class="dropdown-subitem" *ngFor="let category of categories">
                            <a href="#" class="dropdown-link">
                                {{category.name}} <i class="fa-solid fa-plus dropdown__add" *ngIf="category.subCategories && category.subCategories.length > 0"></i>
                            </a>
                            <ul class="dropdown-submenu" *ngIf="category.subCategories && category.subCategories.length > 0">
                                <li *ngFor="let subcategory of category.subCategories">
                                    <a href="#" class="dropdown-sublink">
                                     {{subcategory.name}}
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>

                <li><a href="/catalog" class="nav-link">Contacto</a></li>
            </ul>
        </div>
        <div class="icon-data">
            <input type="search" placeholder="Buscar" [(ngModel)]="searchWord" (keyup.enter)="onSearch()" *ngIf="searchInput">
            <ul>
                <li><a (click)="toggleInput()"><i class='bx bx-search-alt-2' ></i></a></li>
                <li><a href="/cart"><i class='bx bx-cart'></i></a></li>
                <li>
                    <a><i class='bx bx-user' (click)="toggleUserMenu()"></i></a>
                    <ul class="dropdown" *ngIf="userMenuVisible">
                        <li><a href="">Modificar perfil</a></li>
                        <li><a href="">Historial</a></li>
                        <li><a href="/login">Iniciar sesion</a></li> <!--Hacer que varie si esta logueado o no el mensaje-->
                        <li><a href="/login">Cerrar sesion</a></li>
                        <li><a href="/register">Registrarse</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
</header>