.header{
    width: 100%;
    height: 80px;
    background-color: var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-container{
    display: flex;
    max-width: 1120px;
    width: 100%;
}
.nav-data{
    display: flex;
    align-items: center;
    width: 10%;
}
.nav-toggle{
    display: none;
}
.nav-toggle i{
    color: var(--second-color);
    font-size: 2rem;
    margin-left: 10px;
}
.logo-container{
    width: 4%;
}
.logo-container i{
    color: var(--second-color);
    font-size: 3rem;
    margin-left: 2rem;
}
.icon-data{
    display: flex;
    align-items: center;
    justify-content: end;
    width: 50%;
}
.icon-container{
    display: flex;
    align-items: center;
    width: fit-content;
}
.icon-container {
    position: relative; /* Necesario para el menú desplegable */
}
.icon-container input{
    background: transparent;
    border: transparent;
    outline: none;
    caret-color: var(--second-color);
    color: var(--second-color);
    border-bottom: 2px solid var(--second-color);
}
.icon-container input:hover,
.icon-container input:focus {
    border: transparent; 
    border-bottom: 2px solid var(--second-color); 
    outline: none; 
}
.icon-container a{
    margin-left: 3rem;
    font-size: 1.7rem;
    color: var(--second-color);
    cursor: pointer;
}

.nav-menu{
    display: flex;
    width: 40%;
}
.nav-list{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 1.25rem 1.5rem;
}
.nav-list li{
    position: relative;
}
.nav-link{
    color: var(--second-color);
    font-weight: 500;
    padding-right: 2rem;
}

.dropdown-menu{
    display: none;
    position: absolute;
    padding-top: 1rem;
    top: 100%;
    left: 0;
    background-color: var(--primary-color);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    z-index: 1000;
}
.dropdown-item:hover .dropdown-menu {
    display: block;
}
.dropdown-submenu{
    display: none;
    position: absolute;
    top: 0;
    left: 100%;
    background-color: var(--primary-color);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    z-index: 1000;
}
.dropdown-subitem:hover .dropdown-submenu{
    display: block;
}
.dropdown-link,.dropdown-sublink{
    display: block;
    padding: 0.5rem 1rem;
    color: var(--second-color);
    text-decoration: none;
    font-weight: 300;
    margin-right: 2rem;
    width: 100%;
}
.dropdown-link:hover,
.dropdown-sublink:hover {
  background-color: var(--hover-primary-color);
}
.icon-data{
    display: flex;
    align-items: center;
}
.icon-data input{
    background: transparent;
    border: transparent;
    border-bottom: 1px solid var(--second-color);
    outline: none;
    color: var(--second-color);
    width: 0px;
    transition: width 0.3s;
}
.icon-data input:focus {
    width: 200px;
}
.icon-data ul li{
    display: inline-block;
    position: relative;
    justify-content: center;
    align-items: center;
}
.icon-data ul li a{
    display: block;
    padding: 20px 20px;
    color: var(--second-color);
    text-decoration: none;
    text-align: center;
    font-size: 1.8rem;
    cursor: pointer;
}
ul li ul.dropdown li{
    display: block;
    background: var(--primary-color);
    border-bottom: 0.5px solid var(--hover-primary-color);
    padding: 10px 10px;
}
ul li ul.dropdown li a{
    color: var(--second-color);
    font-size: 1rem;
    padding: 0 15px;
    font-weight: 200;
}

ul li ul.dropdown{
    width: auto;
    position: absolute;
    top: 100%;
    left: -30%;
    z-index: 999;
}

@media screen and (max-width: 1024px) {
    /* Esconde el menú por defecto */
    
    .bx-cart{
        display: none;
    }
    .nav-toggle{
        display: block;
    }
    .nav-data{
        width: 20%;
    }
    .icon-data{
        width: 80%;
    }
    .icon-data ul li a{
        font-size: 2rem;
        padding: 0 10px;
    }
    .logo-container i{
        font-size: 2rem;
    }
}