.header {
    background-color: var(--primary-color);
  }
  
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    max-width: 1024px;
    margin: 0 auto; 
  }
  
  .navbar-group {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 40%;
  }
  
  .navbar-section {
    display: flex;
    align-items: center;
  }
  
  .navbar-left {
    display: flex;
    align-items: center;
  }
  .fa-bars{
    display: none;
  }
  
  .navbar-center {
    display: flex;
    justify-content: flex-end;
    margin-left: 10px;
  }
  
  .navbar-right {
    display: flex;
    width: 40%;
    justify-content: flex-end;
  }
  
  .navbar-menu {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  .search-input input {
    background: transparent;
    border: transparent;
    outline: none;
    caret-color: var(--second-color);
    color: var(--second-color);
    border-bottom: 2px solid var(--second-color);
    width: 0px;
  }
  .search-input input:hover,
  .search-input input:focus{
    border: transparent;
    border-bottom: 2px solid var(--second-color);
    outline: none;
    width: 200px;
  }
  
  .search-input input::placeholder {
    color: var(--second-color);
  }
  
  .menu-item {
    color: var(--second-color);
    margin: 0 10px;
    padding: 15px 5px;
    cursor: pointer;
    position: relative;
    text-decoration: none;
  }
  
  .menu-item a {
    color: var(--second-color);
    font-weight: 400;
  }
  
  .menu-item:hover {
    background-color: var(--primary-hover-color);
  }
  
  .dropdown-menu {
    display: none;
    position: absolute;
    background-color: var(--primary-color);
    list-style: none;
    padding: 0;
    margin: 0;
    min-width: 150px;
    z-index: 999;
  }
  
  .dropdown-item {
    text-decoration: none;
    color: var(--second-color);
    padding: 10px 20px;
    font-size: 0.9rem;
    cursor: pointer;
    position: relative;
  }
  
  .dropdown-item:hover {
    background-color: var(--hover-primary-color);
  }
  
  .menu-item.dropdown:hover > .dropdown-menu {
    display: block;
    top: 100%;
    left: 0;
  }
  
  .dropdown-item.dropdown:hover > .dropdown-menu {
    display: block;
    top: 0;
    left: 100%;
  }
  
  .navbar-section i {
    color: var(--second-color);
    font-size: 24px;
    cursor: pointer;
    margin: 0 10px;
  }
  
  .navbar-section i:hover {
    color: var(--primary-hover-color);
  }

  

  @media (max-width: 768px) {
    .navbar-center {
        position: fixed;
        width: 90%;
        top: 55px;
        background-color: var(--primary-color);
        flex-direction: column;
        border-radius: 5px;
        transform: translateY(-100vh); /* Inicialmente fuera de la vista */
        transition: transform 0.3s ease; /* Animación */
      }
    #mobile-menu{
        flex-direction: column;
        text-align: center;
    }
    .fa-bars {
      display: block;
    }
    .navbar-left i:hover ~ .navbar-center {
      transform: translateY(0); /* Posición original cuando se hace hover */
    }
    .bx-cart{
        display: none;
    }

    .navbar-group {
      width: auto; /* Ajustar el ancho del grupo */
    }
  }