.body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-color);
}
.container{
    position: relative;
    max-width: 430px;
    width: 100%;
    background: var(--second-color);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}
.container .forms{
    display: flex;
    align-items: center;
    width: 200%;
}
.container .form{
    width: 100%;
    padding: 30px;
}
.container .form .title{
    position: relative;
    font-size: 27px;
    font-weight: 600;
}
.form .title::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 30px;
    background-color: var(--primary-color);
    border-radius: 25px;
}

.form .input-field{
    position: relative;
    height: 50px;
    width: 100%;
    margin-top: 30px;
}
.input-field input{
    position: absolute;
    height: 100%;
    width: 100%;
    padding: 0 35px;
    border: none;
    outline: none;
    font-size: 16px;
    border-bottom: 2px solid #ccc;
    border-top: 2px solid transparent;
    background: var(--second-color);
}
.error-container {
    height: 5px; /* Altura fija del contenedor */
    margin-top: 5px; /* Espacio superior */
}
.text-danger {
    color: red; /* Cambia el color del texto a rojo */
    font-size: 14px; /* Tamaño de fuente */
    margin-top: 5px; /* Espacio superior */
}
  
.input-field i{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: var(--primary-color);
    font-size: 23px;
}
.input-field i.icon{
    left: 0;
}
.input-field i.showHidePw{
    right: 0;
    cursor: pointer;
    padding: 10px;
}

.form .checkbox-text{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}

.checkbox-text .checkbox-content{
    display: flex;
    align-items: center;
}
.checkbox-content input{
    margin: 0 8px -2px 4px;
    accent-color: var(--primary-color); 
}
.form .text{
    color: var(--primary-color);
    font-size: 14px;
}
.form a.text{
    color: var(--primary-color);
    text-decoration: none;
}
.form a:hover{
    text-decoration: underline;
}
.form .button{
    margin-top: 35px;
}
.form .button input{
    border: none;
    color: #fff;
    font-size: 17px;
    font-weight: 500;
    letter-spacing: 1px;
    border-radius: 6px;
    background-color: var(--primary-color);
    cursor: pointer;
    transition: all 0.3s ease;
}
.form .button input:disabled{
    background-color: grey;
    cursor: not-allowed;
}
.form .button input:enabled:hover{
    background-color: var(--hover-primary-color);
}
.form .login-signup{
    margin-top: 30px;
    text-align: center;
}

@media (max-width: 600px) {
    /* Ajusta los estilos para pantallas de dispositivos móviles */

    /* Ajusta la anchura de la contenedor para que ocupe todo el ancho de la pantalla */
    .container {
        width: 90%; /* Ocupa todo el ancho de la pantalla */
        padding: 10px;
        border-radius: 5px;
    }

    /* Ajusta la anchura de los input-box para que sean más estrechos */
    .form .input-field {
        width: 100%; /* Los input-field ocuparán todo el ancho */
    }

    /* Ajusta la anchura de los campos de entrada */
    .input-field input {
        font-size: 14px; /* Ajusta el tamaño de la fuente */
        padding: 0 20px; /* Ajusta el relleno */
        padding-left: 40px;
    }
    .input-field input::placeholder{
        padding: 0 20px;
    }

    /* Ajusta la posición de los iconos */
    .input-field i.icon {
        margin-right: 5px; /* Ajusta la distancia del icono al campo */
    }

    /* Ajusta el estilo del botón para pantallas más pequeñas */
    .form .button {
        width: 100%; /* El botón ocupa todo el ancho */
        margin-top: 20px; /* Ajusta el margen superior */
    }

    /* Ajusta el tamaño del texto */
    .form .text {
        font-size: 12px; /* Ajusta el tamaño de la fuente */
    }

    /* Ajusta el estilo de los mensajes de error */
    .error-container {
        font-size: 12px; /* Tamaño de fuente más pequeño */
        height: 15px; /* Altura ajustada */
    }
}
