<div class="body">
    <div class="container">
        <div class="product-container">
            <div class="header"><h3>Productos</h3></div>
                <div class="product-block-container">
                    <div class="product-card" *ngFor="let product of products">
                        
                        <div class="info-container">
                            <div class="img-container"><img [src]="product.image" alt=""></div>
                            <div class="detail-options-container">
                                <div class="name-container"><span>{{product.product.name}}</span></div>
                                <div class="category-container"><span>{{product.product.category.name}}</span></div>
                                    <div class="options-container">
                                        <a class="option" (click)="deleteItemfromCart(product.id)">Eliminar</a>
                                        <a class="option">Detalles</a>
                                    </div>
                            </div>
                        </div>

                        <div class="quantity-price-container">
                            <div class="quantity-container">
                                <button class="quantity-button" (click)="modifyQuantity(product.productId,product.quantity,'-')" [disabled]="product.quantity == 1">-</button>
                                <span>{{product.quantity}}</span>
                                <button class="quantity-button" (click)="modifyQuantity(product.productId,product.quantity,'+')">+</button>
                            </div>
                            <div class="price-container">
                                <div class="discount-container" *ngIf="product.product.discount !== 0">
                                    <span id="discount-tag" >%{{product.product.discount}}</span>
                                    <span id="original-price">${{product.product.price}}</span>
                                </div>
                                <span>${{discountProduct(product.product.price,product.product.discount)}}</span>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        <div class="purchase-summary">       
            <div id="header-purchase"><h3>Resumen de compra</h3></div>
            <div class="product-count"><span>Productos</span></div>
            <div class="total-container">
                <span class="total">Total</span>
                <span class="total">${{total}}</span>
            </div>
            <div class="button-container"><a href="/checkout">Continuar Compra</a></div>
        </div>
    </div>
</div>
