<div class="body">
    <div class="container">
        <div class="product-container">
            <div class="header"><h3>Productos</h3></div>
                <div class="product-block-container">
                    <div class="product-card">
                        <div class="img-container"><img src="https://d22fxaf9t8d39k.cloudfront.net/86c0646f96ca584e1386b56e05151cee63f1c0bd7e6326bc5f7c6fa44e1485dc3834.jpg" alt=""></div>
                        <div class="info-container">
                            <div class="detail-container">
                                <div class="name-container"><span>NombreAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA</span></div>
                                <div class="category-container"><span>Categoria</span></div>
                                    <div class="options-container">
                                        <a class="option">Eliminar</a>
                                        <a class="option">Detalles</a>
                                    </div>
                            </div>
                        </div>
                        <div class="input-container">
                            <input type="number">
                        </div>
                        <div class="price-container">
                            <div class="discount-container">
                                <span id="discount-tag">-20%</span>
                                <span id="original-price">$15000</span>
                            </div>
                            <span>$12000</span>
                        </div>
                    </div>
                    <div class="product-card">
                        <div class="img-container"><img src="https://d22fxaf9t8d39k.cloudfront.net/86c0646f96ca584e1386b56e05151cee63f1c0bd7e6326bc5f7c6fa44e1485dc3834.jpg" alt=""></div>
                        <div class="info-container">
                            <div class="detail-container">
                                <div class="name-container"><span>Nombre</span></div>
                                <div class="category-container"><span>Categoria</span></div>
                                    <div class="options-container">
                                        <a class="option">Eliminar</a>
                                        <a class="option">Detalles</a>
                                    </div>
                            </div>
                        </div>
                        <div class="input-container">
                            <input type="number">
                        </div>
                        <div class="price-container">
                            <span class="price">$15000</span>
                        </div>
                    </div>
                    <div class="product-card">
                        <div class="img-container"><img src="https://d22fxaf9t8d39k.cloudfront.net/86c0646f96ca584e1386b56e05151cee63f1c0bd7e6326bc5f7c6fa44e1485dc3834.jpg" alt=""></div>
                        <div class="info-container">
                            <div class="detail-container">
                                <div class="name-container"><span>Nombre</span></div>
                                <div class="category-container"><span>Categoria</span></div>
                                    <div class="options-container">
                                        <a class="option">Eliminar</a>
                                        <a class="option">Detalles</a>
                                    </div>
                            </div>
                        </div>
                        <div class="input-container">
                            <input type="number">
                        </div>
                        <div class="price-container">
                            <span class="price">$15000</span>
                        </div>
                    </div>
                    <div class="product-card">
                        <div class="img-container"><img src="https://d22fxaf9t8d39k.cloudfront.net/86c0646f96ca584e1386b56e05151cee63f1c0bd7e6326bc5f7c6fa44e1485dc3834.jpg" alt=""></div>
                        <div class="info-container">
                            <div class="detail-container">
                                <div class="name-container"><span>Nombre</span></div>
                                <div class="category-container"><span>Categoria</span></div>
                                    <div class="options-container">
                                        <a class="option">Eliminar</a>
                                        <a class="option">Detalles</a>
                                    </div>
                            </div>
                        </div>
                        <div class="input-container">
                            <input type="number">
                        </div>
                        <div class="price-container">
                            <span class="price">$15000</span>
                        </div>
                    </div>
                    <div class="product-card">
                        <div class="img-container"><img src="https://d22fxaf9t8d39k.cloudfront.net/86c0646f96ca584e1386b56e05151cee63f1c0bd7e6326bc5f7c6fa44e1485dc3834.jpg" alt=""></div>
                        <div class="info-container">
                            <div class="detail-container">
                                <div class="name-container"><span>Nombre</span></div>
                                <div class="category-container"><span>Categoria</span></div>
                                    <div class="options-container">
                                        <a class="option">Eliminar</a>
                                        <a class="option">Detalles</a>
                                    </div>
                            </div>
                        </div>
                        <div class="input-container">
                            <input type="number">
                        </div>
                        <div class="price-container">
                            <span class="price">$15000</span>
                        </div>
                    </div>
                </div>
            </div>
        <div class="purchase-summary">       
            <div id="header-purchase"><h3>Resumen de compra</h3></div>
            <div class="product-count"><span>Productos</span></div>
            <div class="total-container">
                <span class="total">Total</span>
                <span class="total">$20000</span>
            </div>
            <div class="button-container"><a href="">Continuar Compra</a></div>
        </div>
    </div>
</div>