.body{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    background-color: #393E46;
    margin-top: 6rem;
}
.container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    background-color: #393E46;
}

/*GENERAL CLASSES*/


/*PRODUCTS*/
.product-container{
    display: flex;
    flex-direction: column;
    width: 65%;
    height: 100%;
    background-color: #EEEEEE;
    border-radius: 10px;
    margin: 0 0 2rem 0;
    padding: 5px;
}
.header{
    padding: 10px;
    margin-bottom: 1rem;
}
.product-card{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1.3rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 10px;
}
.img-container{
    width: 64px;
    height: 64px;   
}
.img-container img{
    margin-left: 5px;
    width: 64px;
    height: 64px;
}
.info-container{
    display: flex;
    width: 65%;
}
.detail-options-container {
    display: flex;
    flex-direction: column;
    width: calc(100% - 74px); /* Ajusta el ancho para dejar espacio para la imagen */
}
.detail-options-container span{
    margin-left: 10px;
}
.detail-container{
    display: block;
}

.options-container{
    margin-top: 5px;
    display: flex;
    justify-content:start;
}

/*PRICE AND QUANTITY*/

.quantity-price-container{
    display: flex;
    width: 35%;
    align-items: center;
}

.quantity-container{
    width: 40%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 1px solid #222831;
    border-radius: 8px;
    margin-left: 0.5rem;
}
.quantity-container button{
    cursor: pointer;
    padding: 0px 5px;
    font-size: 1.5rem;
    background: transparent;
    border: transparent;
}
.quantity-container input{
    width: 100%;
    border: none;
    padding: 3px 0px;
    border-radius: 6px;
    margin-bottom: 10px;
}
.price-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 10px;
    width: 60%;
}
.name-container span{
    font-size: 1.2rem;
    font-weight: 500;
    color: black;
    padding-left: 5px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: block;
}
.category-container span{
    font-size: 0.8rem;
    color: gray;
    padding-left: 5px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: block;
}


.options-container a{
    margin: 0 25px;
}
.options-container a:hover{
    cursor: pointer;
}


.price-container span{
    font-size: 1.5rem;
    font-weight: 400;
}
.discount-container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.discount-container span{
    font-size: 0.8rem;
}
#discount-tag{
    color: #39bb2a;
}
#original-price{
    padding-left: 8px;
    text-decoration: line-through;
    color: #222831;
}

/*SUMMARY*/

.purchase-summary{
    display: flex;
    flex-direction: column;
    width: 25%;
    background-color: #ffffff;
    height: 315px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
    border-radius: 8px;
    position: fixed;
    top: 6rem; /* Ajusta este valor según sea necesario */
    right: 8.5rem;
}
#header-purchase{
    height: 20%;
    border-bottom: 0.5px solid gray;
    font-weight: 700;
}
.product-count{
    margin-top: 1rem;
    height: 10%;
    font-size: 0.9rem;
}
.total-container{
    display: flex;
    justify-content: space-between;
    height: 15%;
    margin-top: 0.5rem;
    font-weight: 500;
    font-size: 1.3rem;
    
}
.button-container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45%;
    margin-top: 1rem;
    border-top: 0.5px solid gray;
}
.button-container a{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #222831;
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-weight: 500;
    padding: 12px 70px;
    border-radius: 5px;
}
.button-container a:hover{
    background-color: #393E46;
}

/*RESPONSIVE*/
/*MOBILE*/
@media screen and (max-width: 1118px){
    .body{
        width: 100%;
    }
    .container{
        width: 90%;
        flex-direction: column;
    }
    .product-container{
        width: 100%;
    }
    .product-card{
        flex-direction: column;
    }
    .info-container{
        width: 100%;
        margin-bottom: 1rem;
    }
    .quantity-price-container{
        width: 100%;
        justify-content: space-between;
    }
    .quantity-container{
        width: 20%;
    }
    .category-container{
        display: none;
    }

    .purchase-summary{
        position: static; /* Change from fixed to static */
        width: 100%;
        margin: 20px 0;
    }
    .detail-container{
        margin-left: 1rem;
        width: 90%;
    }
    .input-container{
        width: 30%;
    }
}