.container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
}

.message-container {
    width: 80%; 
    max-width: 500px; 
    padding: 20px; 
    background-color: var(--primary-color); 
    border: 1px solid #ccc; 
    border-radius: 8px; 
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); 
    text-align: center; 
}

.message {
    font-size: 16px; 
    color: var(--second-color); 
    margin-bottom: 10px; 
}

.button-container {
    display: flex;
    justify-content: center; 
}

.button-container button {
    margin: 0 10px; 
    padding: 10px 20px; 
    border: none; 
    border-radius: 5px; 
    background-color: var(--second-color); 
    color: var(--primary-color); 
    font-size: 16px; 
    cursor: pointer; 
    transition: background-color 0.3s ease; 
}

.button-container button:hover {
    background-color: var(--hover-second-color); 
}