.body{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background: var(--primary-color);
}
.container{
    max-width: 700px;
    width: 100%;
    background: var(--second-color);
    padding: 25px 30px;
    border-radius: 5px;
}
.container .title{
    font-size: 25px;
    font-weight: 500;
    position: relative;
}
.container .title::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 30px;
    background: var(--primary-color);
}

.container form .user-details{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0 12px 0;
}

form .user-details .input-box{
    margin: 20px 0 12px 0;
    width: calc(100% / 2 - 20px);
}
.user-details .input-box .details{
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
}
.user-details .input-box input{
    height: 45px;
    width: 100%;
    outline: none;
    padding-left: 25px;
    font-size: 16px;
    background: var(--second-color);
    border-bottom-width: 2px;
    border-bottom: 2px solid #ccc;
    border-top: 2px solid transparent;
    border-left: 2px solid transparent;
    border-right: 2px solid transparent;
    transition: all 0.3 ease;
}


form .gender-details .gender-title{
    font-size: 15px;
    font-weight: 500;
}
.register-button {
    border: none;
    color: #fff;
    font-size: 17px;
    font-weight: 500;
    letter-spacing: 1px;
    border-radius: 6px;
    background-color: var(--primary-color);
    cursor: pointer;
    width: 100%;
    padding: 10px;
    margin-top: 15px;
    transition: all 0.3s ease;
  }
  .register-button:disabled{
    background-color: grey;
    cursor: not-allowed;
  }

  .error-container {
    height: 20px; /* Altura fija del contenedor de mensajes de error */
    margin-top: 5px; /* Espacio superior para separar del campo de entrada */
    color: red;
    font-size: 15px;
}

.input-group {
    position: relative;
    display: flex;
    align-items: center;
}

.input-group input {
    flex: 1;
    padding-right: 35px; /* Espacio adicional para el icono */
}

.input-group i {
    position: absolute;
    right: 0;
    padding: 10px;
    cursor: pointer;
    color: #ccc;
}

.login{
    margin-top: 10px;
    text-align: center;
}

.login a{
    color: rgb(92, 92, 92);
    text-decoration: none;
}



@media (max-width: 600px) {
    /* Ajusta los estilos para pantallas de dispositivos móviles */
    

    /* Aumenta la anchura de la contenedor para que ocupe todo el ancho de la pantalla */
    .container {
        width: 100%;
        padding: 10px;
    }

    /* Ajusta la anchura de los input-box para que sean más estrechos */
    form .user-details .input-box {
        width: 100%; /* Los input-box ocuparán todo el ancho */
        margin-bottom: 10px; /* Espacio inferior para separar los campos */
    }

    /* Ajusta el tamaño de fuente para que sea más legible en pantallas pequeñas */
    .container .title, form .gender-details .gender-title {
        font-size: 20px;
    }

    /* Ajusta el tamaño de los campos de entrada */
    .user-details .input-box input {
        font-size: 14px;
        padding: 10px;
    }

    /* Ajusta el estilo del botón para pantallas más pequeñas */
    .register-button {
        padding: 8px;
        font-size: 15px;
    }

    /* Ajusta el estilo de los mensajes de error para pantallas pequeñas */
    .error-container {
        font-size: 13px;
        height: 20px;
        margin-top: 5px;
    }

    form .gender-details .gender-title{
        font-size: 15px;
    }
    
}
